<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'req_refund' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="amount" value="{{amount}}">{{amount}}
        <input type="hidden" name="capture_id" value="{{capture_id}}">{{capture_id}}
        <input type="text" name="reason">
        <button type="submit">refund</button>
    </form>
</body>
</html>